{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->
 <u>   <h2 class="text-center">CONTACT   US </u></h2>
    <main class="container" >
        <div alig="center"></div>
        <div class="card" style="width: 40rem">
            <img src="/static/images/image1.jpg" class="card-img-mid" style= "width=1500rem;" alt="contact">
            
            <h1 class="text-center my-3 fw-bold text-warning" style="text-decoration: underline;">A CALL AWAY</h1>
            <div class="card-body">
            <B>  <p class="card-text">contact us - 9945338085 / 8050030058.</p>
              <p class="card-text">gmail - UPHARMA@gmail.com.</p>  </B>
            </div>
          </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}