{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->
    
        <div class="row text-center">
          <h1 class="text-center my-3 fw-bold text-SUCCESS" style="text-decoration: underline;">OTHER SERVICES</h1>
            <div class="col-md-4">
                <img src="/static/images/image7.jpg" width="90%" />
                <h5>REQUEST</h5>
                <a href="/appointment" class="btn btn-primary">DETAILS</a>
            </div>
            <div class="col-md-4">
                <img src="/static/images/image8.jpg" width="90%" />
                
                <h5>FLASH NEWS</h5>
                
                <a href="/flash" class="btn btn-primary">DETAILS</a>
            </div>
            <div class="col-md-4">
                <img src="/static/images/image9.jpg" width="90%" />
                <h5>REVIEW US</h5>
             
                <a href="/review" class="btn btn-primary">DETAILS</a>
            </div>
            <div class="col-md-4">
                <img src="/static/images/image14.jpg" width="90%" />
                <h5>ADD YOUR PRESCRIPTION</h5>
                <div class="quick-buy"><span class="quick-buy-text">QUICK BUY! Flat 15% off on medicines*</span></div>
            
                <a href="/prescription" class="btn btn-primary">DETAILS</a>
            </div>
        </div>
      
      
</div>




{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}