{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->
    <h1 class="text-center my-3 fw-bold text-SUCCESS" style="text-decoration: underline;">FLASH NEWS</h1>
 

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/static/images/image12.jpg" width="300" height="300" style="object-fit: fill;" />
            </div>

            <div class="col-md-6">
              
              <h3>OMICORN NEWS</h3>
              
              <p>Omicron variant was first reported from South Africa. The epidemiological picture in South Africa has been characterised by three distinct peaks the most recent of which was driven by the Delta strain.
                 Research on Omicron has begun all across the world.</p>

              
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/static/images/image13.jpg" width="300" height="300" style="object-fit: fill;" />
            </div>

            <div class="col-md-6">
              
              <h3>Health Tips</h3>
              
              <p>
 

                Weight Loss Tips
                
                Weight loss tips which are highly effective and easy to adopt. Follow these simple weight loss tips to lose extra pounds naturally in a healthy way. Water is a good natural hunger suppressant contributes to your weight loss journey, min 3 liters of water is suggested to drink every day.
                •	August 12, 2021
                •	3 Comments
                Media Coverage</p>

              
            </div>
        </div>

 

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}