{% extends "base.html" %}
{% block title %}Title{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->

    <h5 class="text-center">Products</h5>

    <div class="row">

        {% for product in products %}
        
        <div class="col-md-4">
            <div class="card">
                <img src="{{product.image}}" alt="" height="150" />
                <h5>Name: {{product.name}} </h5>
                <p>Tags: {{product.tags}}</p>
                <p>Category: {{product.category}}</p>
                <p>Price: {{product.price}} </p>
                <a href="/view/{{product.id}}" class="btn btn-success">MORE DETAILS</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}