{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block content  %}


    <!-- Added your content -->
<div class="container">
   <u> <h1  class="text-center">M E D I C I N E</u></h1>

    <div class="row">
    {% for plant in plants %}
        <div class="col-md-4 my-2">
            <div class="card">
                <img src="{{ plant.image }}" height="250" />

                <div class="mx-2">
                <h5>Name: {{ plant.name }}</h5>
                <p>Tags: {{ plant.tags }}</p>
                <p>Category: {{ plant.category }}</p>
                <p>Price: {{ plant.price }}</p>
                </div>
                <a href="details/{{ plant.id }}" class="btn btn-info">More Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62011a0ab9e4e21181bdd899/1fra4ref1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}