{% extends "base.html" %}
{% block title %}Title{% endblock %}

{% block content  %}
    <!-- Added your content -->
<div class="container">
     <form class="my-3" method="POST" action="/admin/">

          <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4">

                    
                            <h1 class="card-title text-center text-success">Admin Login</h1>
                            <p class="card-text text-center">Please Enter your account details.</p>

                            <label for="username" class="form-label">Enter Your Username:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="spusername">@</span>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                                    aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>

                            <label for="password" class="form-label">Enter Your Password:</label>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sppassword">@</span>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                    aria-label="Password" aria-describedby="basic-addon1" required>
                            </div>

                            <h5 class="text-danger">{{msg}}</h5>
                            <button class="btn btn-success" type="submit">SUBMIT</button>
                            <button class="btn btn-danger" type="reset">CLEAR</button>

                        </div>
                    </div>

                </div>

     </form>


     <style>
        body {
            background-image: url('/static/images/image10.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}